/* base.css */

body, h1, h2, h3, h4, h5, h6, p, form, input, button, a {
    margin: 0;
    padding: 0;
    text-decoration: none; /* Remove default underline */
    
}
a{
    color: #fff;
}
/* Styling header */
.header {
    background-color: rgb(9, 45, 137);
    color: #fff;
    padding: 20px;
}

/* Styling top header section */
.top-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styling configuration tags */
.configuraton-tag {
    display: flex;
}

.configuraton-tag span {
    margin-right: 10px;
}

/* Styling zone name */
.zone-name h3 {
    margin-bottom: 10px;
}

/* Styling search bar */
.search-bar {
    display: flex;
    margin-top: 5px; /* Add space between zone name and search bar */
}

.search-bar .input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px; /* Add border radius */
    border: 1px solid #ccc; /* Add border for better visibility */
}

.search-bar button {
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add border radius */
    border: 1px solid #ccc; /* Add border for better visibility */
}


/* Styling Tata Motors logo */
.tata-logo h3 {
    font-size: 24px;
}

.list-items{
    display: block;
    background: gray;
    
}
/* Navigation menu styles */

.list-items ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    width: 100%;
   
}

.list-item {
    /* Display list items inline */
    display: inline-block; /* Display list items inline */
    padding: 10px;
    background: gray;
    flex-grow: 1; /* Make list-item acquire all remaining space */
    text-align: center; /* Center the text horizontally */
    border: 1px solid transparent;
    
}

.list-item:hover,
.list-item:active,
.list-item:focus {
    border: 1px solid #fff;
    background: #3552f7; /* Add border on hover, click, and focus */
    color: #fff;
}
.list-item.active {
    border: 1px solid #fff;
    background: #3552f7;
    color: #fff;
}
.list-item a {
    text-decoration: none; /* Remove underline from links */
    color: #000; /* White text color */
    font-weight: 800;
}

/* CSS file */
.list-item:hover a {
    color: #fff;  /* Change anchor tag color to white when hovering over list item */
    text-decoration: none;  /* Remove underline decoration */
}
