/* modal_styles.css */
.modal {
    display: none;
    position: fixed;
    top: 15%;
    left: 20%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    width: 70%;
    overflow: auto;
    background-color: rgba(28, 86, 245, 0.4);
}

.modal-content {
    background-color: #fefefe;

}

.close {
    position: absolute;
    right: 20px;
    top: 2px;
    font-size: 28px;
    font-weight: 1000;
    color: #aaa;
    cursor: pointer;
    color: rgb(247, 23, 23);
}

.close:hover,
.close:focus {
    color: rgb(237, 4, 4);
    text-decoration: none;
    cursor: pointer;
}

.modal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}

tr.table-row {
    height: 35px;
}

.modal-table th,
.modal-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-cell {
    text-transform: uppercase;
  }
  
.modal-content table tbody td{
    padding: 5px 10px;
    border:none;
  }



  