/* Container */
.container {
    max-width: 600px;
    height: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: #fefefe;
}

/* Form labels */
.container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Form inputs */
.container input[type="text"],
.container input[type="number"],
.container input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Form buttons */
.container button {
    background-color: rgb(5, 170, 5);
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
    border-radius: 4px;
}

.container button:hover {
    background-color: rgb(4, 140, 4);
}

.button-container {
    display: flex;
    gap: 10px;
}
.button-container button,
.button-container a {
    flex: 1;
}
.button-container a {
    display: inline-block;
}
.button-container a button {
    width: 100%;
}
.or-divider {
    text-align: center;
    margin: 10px 0;
    font-size: larger;
    font-weight: 400;
}