/* Container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: #fefefe;
}

/* Form labels */
.container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Form inputs */
.container input[type="text"],
.container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Form buttons */
.container button {
    background-color: rgb(5, 170, 5);
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
    border-radius: 4px;
}

.container button:hover {
    background-color: rgb(4, 140, 4);
}
.trolley_template{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
    background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
}


table {
    width: 99%;
    border-collapse: collapse;
    margin: 5px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.action-buttons {
    display: flex;
    gap: 10px;
}
.td a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}
.del-btn {
    background-color: #dc3545;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.add-trolley-btn{
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: large;
    border-radius: 4px;
    margin-bottom: 20px;
}

.close{
    float: right;
 font-size: xx-large;
 font-weight: 500;
 cursor: pointer;
 padding-top: 5px;
}
.close:hover{
    color: #dc3545;
}