{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCF-1A: Kitting Zone</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <header class="header">
        <div class="top-head">
            <div class="configuraton-tag">
                <span style="padding-right: 6px;"><a href="/vc_list">Model matrix</a></span>
                <span><a href="{% url 'asn_input'%}">kitting configuration</a></span>
            </div>
            <div class="zone-name">
                <h2>TCF-1A: Kitting Zone</h2>
            </div>
            <div class="authentication">
                <span><a href="{% url 'login'%}">Login/</a> </span>
                <span> <a href="{% url 'register'%}">Signup</a></span>
            </div>
            <!-- <div class="search-bar">
                <form action="*" method="post">
                    {% csrf_token %}
                    <input class="input" type="text" name="vc_number" placeholder="enetr vc number">
                    <button type="submit">Submit</button>
                </form>
            </div> -->
            <div class="tata-logo">
                <h3 style="color: yellow; font-size: xx-large; font-weight: bolder;">Nexage Technology</h3>
            </div>
        </div> 
        
    </header>
    <div class="list-items">
        <ul>
            <li class="list-item{% if request.path == '/' %} active{% endif %}">
                <a href="{% url 'picking_plan' %}">Kitting Plan</a>
            </li>
            <li class="list-item{% if request.path == '/kitting_in_process/' %} active{% endif %}">
                <a href="{% url 'kitting_in_process' %}">Kitting In Process</a>
            </li>
            <li class="list-item{% if request.path == '/completed_kittings/' %} active{% endif %}">
                <a href="{% url 'completed_kittings' %}">Completed Kittings</a>
            </li>
        </ul>
    </div>
    <div class="life_cycle" >

        <div class="num_of_plan" style="padding: 10px;">Number of plan: <span >{{ no_of_plan }}</span></div>
        <div class="no_of_inprocess">Number of kitting in process: {{ no_of_kitting_in_process }}</div>
        <div class="completed_list">Number of completed plans: {{ no_of_completed_plan }}</div>
        <div>Average Cycle Time: 
            {% if avg_cycle_time %}
                {{ avg_cycle_time }}
            {% else %}
                0
            {% endif %}
        </div>
    </div>
    
    {% block content %}
    {% endblock %}
    

</body>
</html>
