{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/completed_kittings.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">


<table class="data-table">
    <thead class="t-heading">
        <tr class="head-row">
            <th class="table-header">ASN Number</th>
            <th class="table-header">VC Number</th>
            <th class="table-header">Model Description</th>
            <th class="table-header">Start Time</th>
            <th class="table-header">End Time</th>
            <th class="table-header">Indicator</th>
        </tr>
    </thead>
    <tbody id="data-body">
        {% for entry in completed_picks %}
        <tr class="table-row" onclick="openModal('{{ entry.asn_no }}')">
            <td class="table-cell asn-number">{{ entry.asn_no }}</td>
            <td class="table-cell vc-number">{{ entry.vc_no }}</td>
            <td class="table-cell">{{ entry.model }}</td>
            <td class="table-cell">{{ entry.start_time }}</td>
            <td class="table-cell">{{ entry.end_time }}</td>
            <td class="table-cell">
                {% if entry.color == 'ff00' %}
                <span class="color-dot blink" style="background-color: rgb(3, 198, 36);"></span>
                {% elif entry.color == 'ffff00' %}
                <span class="color-dot blink" style="background-color: rgb(203, 250, 75)"></span>
                {% elif entry.color == 'ff' %}
                <span class="color-dot blink" style="background-color: blue;"></span>
                {% elif entry.color == 'ff0000' %}
                <span class="color-dot blink" style="background-color: red;"></span>
                {% elif entry.color == 'ff00ff' %}
                <span class="color-dot blink" style="background-color: rgb(241, 11, 241);"></span>
                {% elif entry.color == 'ffffff' %}
                <span class="color-dot blink" style="background-color: rgb(163, 246, 246);"></span>
                {% elif entry.color == '00ffff' %}
                <span class="color-dot blink" style="background-color: rgb(61, 215, 246);"></span>
                {% else %}
                <span class="color-dot blink" style="background-color: black"></span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div id="myModal" class="modal">
    <span id="clicked_asn_span"><h2 id="clicked-asn" style="padding: 8px;"></h2></span>
    {% include 'modal.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
<script src="{% static 'js/qr_scanner.js' %}"></script>
<script>
document.querySelectorAll('.table-row').forEach(row => {
    row.addEventListener('click', function() {
        const asnNumber = row.querySelector('.asn-number').innerText;
        console.log('Clicked ASN number:', asnNumber);
        sendASNToBackend(asnNumber);
    });
});

function sendASNToBackend(asnNumber) {
    const formData = new FormData();
    formData.append('asn_number', asnNumber);

    fetch('/open_modal/', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
        },
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log('Backend response:', data);
        populateModal(data, asnNumber);
    })
    .catch(error => {
        console.error('Error sending ASN number:', error);
    });
}

function populateModal(data, asnNumber) {
    const formData = new FormData();
    formData.append('open_modal_data', JSON.stringify(data));

    fetch('/render_modal/', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
        },
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.text();
    })
    .then(htmlContent => {
        const modalBody = document.getElementById('modal-data-body');
        modalBody.innerHTML = htmlContent;
        openModal(asnNumber);
    })
    .catch(error => {
        console.error('Error populating modal:', error);
    });
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const modal = document.getElementById('myModal');

function openModal(asnNumber) {
    var clicked_asn_row = document.getElementById('clicked-asn');
    clicked_asn_row.innerText = "Completed Pickings Data for ASN :" + asnNumber;
    var clicked_asn_span = document.getElementById('clicked-asn-data');
    clicked_asn_row.style.color = 'whitesmoke';
    clicked_asn_row.style.background = "#3552f7";
    modal.style.display = 'block';
    modal.style.top = "0%";
    modal.style.left = "14%";
    modal.style.zIndex = 10;
}
</script>

{% endblock %}
