{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VC Database List</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- Other CSS and JS includes -->
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .action-buttons {
            display: flex;
            gap: 10px;
        }
        .action-buttons a {
            text-decoration: none;
            padding: 5px 10px;
            color: white;
            background-color: #007bff;
            border-radius: 5px;
        }
        .action-buttons a.delete {
            background-color: #dc3545;
        }

        /* Modal Styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }
        .modal-content {
            background-color: #fefefe;
            margin: 2px auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>VC Model Matrix</h1>
    <!-- Upload Form -->
    <form id="uploadForm" method="post" action="{% url 'upload_excel' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="excel_file" accept=".xlsx, .xls">
        <button type="button"style="border: 1px solid whitesmoke ;padding: 3px; font-size: large; background-color: rgb(5, 170, 5); height: 2rem; border-radius: 4px; color: #fefefe;"  onclick="uploadFile()">Upload Excel</button>
        <button style="border: 1px solid whitesmoke ;padding: 3px; font-size: large; background-color: rgb(5, 170, 5); height: 2rem; border-radius: 4px; color: #fefefe;"type="button" onclick="window.location.href='{% url 'download_sample_excel' %}'" > Sample .XLSX</button>
   
    </form>
    <!-- Download Sample Excel Button -->
    
    <table>
        <thead>
            <tr>
                <th>Sno.</th>
                <th>Side</th>
                <th>Part No</th>
                <th>Part Description</th>
                <th>Quantity</th>
                <th>Part and VC Mapping</th>
            </tr>
        </thead>
        <tbody>
            {% for vc in vcs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ vc.side }}</td>
                <td>{{ vc.partno }}</td>
                <td>{{ vc.part_desc }}</td>
                <td>{{ vc.quantity }}</td>
                <td class="action-buttons">
                    <a href="#" class="edit-button" data-id="{{ vc.id }}">Edit</a>
                    <a href="#" class="delete" data-partno="{{ vc.partno }}" onclick="deleteRow(this)">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Button to open VC Master List Modal -->
    <button style="border: 1px solid whitesmoke ;padding: 3px; font-size: large; background-color: rgb(5, 170, 5); height: 2rem; border-radius: 4px; color: #fefefe;" type="button" onclick="openVCMasterModal()">Update VC-Modeldescription </button>
    
    <!-- Button to open the Add ESL Part Modal -->
    <button id="addEslPartButton">Add ESL Part</button>

    <!-- Add ESL Part Modal -->
    <div id="addEslPartModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addEslPartModal')">&times;</span>
            <h2>Add ESL Part</h2>
            <form id="addPartForm" method="post">
                {% csrf_token %}
                <label for="newPartNumber">Part Number:</label>
                <input type="text" id="newPartNumber" name="part_no" required>
                <br>
                <label for="tagId">Tag Id:</label>
                <input type="text" id="tagId" name="tagId" required>
                <br>
                <label for="newPartDesc">Part Description:</label>
                <input type="text" id="newPartDesc" name="part_desc" required>
                <br>
                <label for="newQuantity">Quantity:</label>
                <input type="number" id="newQuantity" name="quantity" required>
                <br>
                <button type="button" onclick="addEslPart()">Add ESL Part</button>
                <br>
            <label for="eslExcelFile">Upload Excel File:</label>
            <input type="file" id="eslExcelFile" name="excel_file" accept=".xlsx, .xls">
            <button type="button" onclick="uploadEslExcel()">Upload Excel</button>
            </form>
        </div>
        
    </div>

        <!-- Button to open the Add Trolley ESL Modal -->
    <button id="addTrolleyEslButton" style="border: 1px solid whitesmoke; padding: 3px; font-size: large; background-color: rgb(5, 170, 5); height: 2rem; border-radius: 4px; color: #fefefe;">Add Trolley ESL</button>

    <!-- Add Trolley ESL Modal -->
    <div id="addTrolleyEslModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addTrolleyEslModal')">&times;</span>
            <h2>Add Trolley ESL</h2>
            <form id="addTrolleyForm" method="post">
                {% csrf_token %}
                <label for="mac">MAC:</label>
                <input type="text" id="mac" name="mac" required>
                <br>
                <label for="trolleyCode">Trolley Code:</label>
                <input type="text" id="trolleyCode" name="trolley_code" required>
                <br>
                <label for="asnNum">ASN Number:</label>
                <input type="text" id="asnNum" name="asn_num" required>
                <br>
                <label for="color">Color:</label>
                <input type="text" id="color" name="color" required>
                <br>
                <label for="status">Status:</label>
                <select id="status" name="trolley_picking_status">
                    <option value="pending">Pending</option>
                    <option value="completed">Completed</option>
                </select>
                <br>
                <button type="button" onclick="addTrolleyEsl()">Add Trolley ESL</button>
            </form>
        </div>
    </div>

    <!-- VC Master List Modal -->
    <div id="vcMasterModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeVCMasterModal()">&times;</span>
            <h2>VC Master List</h2>
            <button type="button" onclick="addVCMasterEntry()">Add New Entry</button>
            <table>
                <thead>
                    <tr>
                        <th>VC Number</th>
                        <th>Model Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="vcMasterTableBody">
                    {% for vc_master in vc_masters %}
                    <tr data-id="{{ vc_master.id }}">
                        <td>{{ vc_master.vcnumber }}</td>
                        <td>{{ vc_master.model }}</td>
                        <td class="action-buttons">
                            <a href="#" class="delete" onclick="deleteVCMasterEntry(this, {{ vc_master.id }})">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- The Modal for Editing VC Entries -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit VC Entry model matrix</h2>
            <form id="editForm" method="post" action="{% url 'update_vc' %}">
                {% csrf_token %}
                <input type="hidden" id="vcId" name="vc_id" value="">
                <table>
                    <thead>
                        <tr>
                            <th>Checkbox</th>
                            <th>VC Number</th>
                            <th>Model Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vc_master in vc_masters %}
                        <tr>
                            <td><input type="checkbox" name="vc_master_id" value="{{ vc_master.id }}"></td>
                            <td>{{ vc_master.vcnumber }}</td>
                            <td>{{ vc_master.model }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <label for="partNumber">Part Number:</label>
                <input type="text" id="partNumber" name="part_number" readonly>
                <br><br>
                <label for="partDesc">Part Description:</label>
                <input type="text" id="partDesc" name="part_desc" readonly>
                <br><br>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity">
                <br><br>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>

    <script>
        // Get the modals
        var modal = document.getElementById("myModal");
        var vcMasterModal = document.getElementById("vcMasterModal");

        // Get the buttons that open the modals
        var btns = document.getElementsByClassName("edit-button");
        
        var addEslPartButton = document.getElementById('addEslPartButton');
        var addEslPartModal = document.getElementById('addEslPartModal');
        var closeButtons = document.getElementsByClassName('close');

        addEslPartButton.onclick = function() {
            addEslPartModal.style.display = "block";
        };

        for (var i = 0; i < closeButtons.length; i++) {
            closeButtons[i].onclick = function() {
                closeModal(this.parentElement.parentElement.id);
            };
        }

        window.onclick = function(event) {
            if (event.target == addEslPartModal) {
                addEslPartModal.style.display = "none";
            }
        };

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = "none";
        }

        function addEslPart() {
            var formData = new FormData(document.getElementById('addPartForm'));
            var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch('{% url "add_esl_part" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("ESL Part added successfully.");
                    location.reload();
                } else {
                    alert("Failed to add ESL Part: " + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("An error occurred. Please try again.");
            });
        }


        // Get the <span> elements that close the modals
        var spans = document.getElementsByClassName("close");

        // When the user clicks the button, open the modal 
        for (var i = 0; i < btns.length; i++) {
            btns[i].onclick = function() {
                var vcId = this.getAttribute("data-id");
                document.getElementById("vcId").value = vcId;
                var row = this.parentNode.parentNode;
                var partNo = row.cells[2].innerText;
                var partDesc = row.cells[3].innerText;
                var quantity = row.cells[4].innerText;
                document.getElementById("partNumber").value = partNo;
                document.getElementById("partDesc").value = partDesc;
                document.getElementById("quantity").value = quantity;

                // Print part number in console
                console.log("Fetching existing VC entries for part_no:", partNo);
                // Uncheck all checkboxes first
                var allCheckboxes = document.querySelectorAll("input[type='checkbox']");
                allCheckboxes.forEach(checkbox => checkbox.checked = false);
                // Fetch existing entries for the part number and check the corresponding checkboxes
                fetch(`/fetch-existing-vc-entries/?part_no=${encodeURIComponent(partNo)}`)
                    .then(response => response.json())
                    .then(data => {
                        // Print received data in console
                        console.log("Received data:", data);

                        var rows = document.querySelectorAll("table tbody tr");
                        rows.forEach(row => {
                            var vcNo = row.cells[1].innerText; // Assuming the VC number is in the second column
                            if (data.includes(vcNo)) {
                                var checkbox = row.querySelector("input[type='checkbox']");
                                if (checkbox) {
                                    checkbox.checked = true;
                                }
                            }
                        });
                    })
                    .catch(error => console.error('Error:', error));
                modal.style.display = "block";
            };
        }

        // When the user clicks on <span> (x), close the modal
        for (var i = 0; i < spans.length; i++) {
            spans[i].onclick = function() {
                modal.style.display = "none";
                vcMasterModal.style.display = "none";
            };
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal || event.target == vcMasterModal) {
                modal.style.display = "none";
                vcMasterModal.style.display = "none";
            }
        };
        
        
        function deleteRow(button) {
            // Get the row of the clicked button
            var row = button.parentNode.parentNode;
            // Get the part number from the row
            var partNumber = row.cells[2].innerText;
            // Confirm before deletion
            if (confirm("Are you sure you want to delete part number " + partNumber + "?")) {
                // Perform any additional actions, such as updating the server
                // For example, make an AJAX call to delete the part number from the server
                fetch(`/delete_vc/${partNumber}/`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}' // Add CSRF token for security
                    }
                })
                .then(response => {
                    if (response.ok) {
                        // Delete the row from the table
                        row.parentNode.removeChild(row);
                        alert("Part number " + partNumber + " deleted successfully.");
                    } else {
                        alert("Failed to delete part number " + partNumber);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred. Please try again.");
                });
            }
        }

        function uploadFile() {
            var formData = new FormData(document.getElementById('uploadForm'));
            var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            var messageDiv = document.getElementById('message');

            fetch('{% url "upload_excel" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    messageDiv.innerHTML = `<div style="color: green;">${data.message}</div>`;
                } else {
                    messageDiv.innerHTML = `<div style="color: red;">${data.message}</div>`;
                }
            })
            .catch(error => {
                messageDiv.innerHTML = `<div style="color: red;">An error occurred: ${error}</div>`;
            });
        }

        addEslPartButton.onclick = function() {
    addEslPartModal.style.display = "block";
};

function uploadEslExcel() {
    var formData = new FormData();
    var fileInput = document.getElementById('eslExcelFile');
    var file = fileInput.files[0];
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    formData.append('excel_file', file);
    formData.append('csrfmiddlewaretoken', csrfToken);

    fetch('{% url "upload_esl_excel" %}', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert("ESL Excel uploaded successfully.");
            location.reload();
        } else {
            alert("Failed to upload ESL Excel: " + data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert("An error occurred. Please try again.");
    });
}


        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        // Check for Django messages and display Toastr notifications
        {% if messages %}
            {% for message in messages %}
                toastr.{{ message.tags }}('{{ message }}');
            {% endfor %}
        {% endif %}

        function openVCMasterModal() {
            vcMasterModal.style.display = "block";
        }

        function closeVCMasterModal() {
            vcMasterModal.style.display = "none";
        }

       
    function addVCMasterEntry() {
        const newRow = document.createElement('tr');
        newRow.innerHTML = `
            <td><input type="text" placeholder="VC Number" id="newVCNumber"></td>
            <td><input type="text" placeholder="Model Description" id="newModelDescription"></td>
            <td class="action-buttons">
                <a href="#" class="add" onclick="confirmAddVCMasterEntry(this)">Add</a>
            </td>
        `;
        document.getElementById('vcMasterTableBody').appendChild(newRow);
    }

    function confirmAddVCMasterEntry(button) {
        var row = button.parentNode.parentNode;
        var vcNumber = row.querySelector("#newVCNumber").value.trim();
        var modelDescription = row.querySelector("#newModelDescription").value.trim();

        if (vcNumber && modelDescription) {
            if (confirm("Are you sure you want to add this VC Master entry?")) {
                fetch('/add_vc_master/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}' 
                    },
                    body: JSON.stringify({ vcnumber: vcNumber, model: modelDescription })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("VC Master entry added successfully.");

                        // Update the row to display the new entry
                        row.innerHTML = `
                            <td>${vcNumber}</td>
                            <td>${modelDescription}</td>
                            <td class="action-buttons">
                                <a href="#" class="delete" onclick="deleteVCMasterEntry(this, ${data.id})">Delete</a>
                            </td>
                        `;

                        // Add the new entry to the modal
                        const modalRow = document.createElement('tr');
                        modalRow.innerHTML = `
                            <td><input type="checkbox" name="vc_master_id" value="${data.id}"></td>
                            <td>${vcNumber}</td>
                            <td>${modelDescription}</td>
                        `;
                        document.querySelector('#myModal tbody').appendChild(modalRow);
                    } else {
                        alert("Failed to add VC Master entry.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred. Please try again.");
                });
            }
        } else {
            alert("VC Number and Model Description cannot be empty.");
        }
    }

    function deleteVCMasterEntry(button, id) {
        if (confirm("Are you sure you want to delete this VC Master entry?")) {
            fetch(`/delete_vc_master/${id}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    var row = button.parentNode.parentNode;
                    row.parentNode.removeChild(row);
                    alert("VC Master entry deleted successfully.");

                    // Remove the entry from the modal
                    document.querySelectorAll('#myModal tbody tr').forEach(modalRow => {
                        if (modalRow.querySelector(`input[name="vc_master_id"][value="${id}"]`)) {
                            modalRow.parentNode.removeChild(modalRow);
                        }
                    });
                } else {
                    alert("Failed to delete VC Master entry.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("An error occurred. Please try again.");
            });
        }
    }

    function addTrolleyEsl() {
            var mac = document.getElementById('mac').value;
            var trolleyCode = document.getElementById('trolleyCode').value;
            var asnNum = document.getElementById('asnNum').value;
            var color = document.getElementById('color').value;
            var status = document.getElementById('status').value;
            var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

            $.ajax({
                type: 'POST',
                url: '{% url "add_trolley_esl" %}',
                data: {
                    mac: mac,
                    trolley_code: trolleyCode,
                    asn_num: asnNum,
                    color: color,
                    trolley_picking_status: status,
                    csrfmiddlewaretoken: csrfToken
                },
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        closeModal('addTrolleyEslModal');
                        location.reload(); // Reload the page to see the new entry
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function () {
                    toastr.error('An error occurred while adding the Trolley ESL.');
                }
            });
        }



    </script>
</body>
</html>
{% endblock %}
