
{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pick_plan.css' %}">


    <table class="data-table" onload="fetchData();">
        <thead class="t-heading">
            <tr class="head-row">
                <th class="table-header">Schedule Time</th>
                <th class="table-header">VC Number</th>
                <th class="table-header">ASN Number</th>
                <th class="table-header">Model Description</th>
                <!-- <th class="table-header">Plan Date</th> -->
            </tr>
        </thead>
        <tbody id="data-body">
            {% for entry in page %}
            <tr class="table-row" onclick="openCameraContainer('{{ entry.id }}', '{{entry.asn_number}}','{{entry.model}}')">
                <!-- <tr class="table-row" data-item-id="{{ entry.id }}" onclick="opencamera(z)" > -->
                <td class="table-cell time">{{ entry.schedule_time }}</td>
                <td class="table-cell vc-number ">{{ entry.vc_number }}</td>
                <td class="table-cell asn-num">{{ entry.asn_number }}</td>
                <td class="table-cell">{{ entry.model }}</td>
                <!-- <td class="table-cell date">{{ entry.plan_date }}</td> -->
            </tr>
            {% empty %}
    <p>No data available.</p>
{% endfor %}

            {% if page|length == 0 %}
            <tr>
                <td colspan="3" class="table-cell">No data found</td>
            </tr>
            {% endif %}
            <!-- Data will be dynamically loaded here -->
        </tbody>
    </table>
    
<!-- Pagination controls -->
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Next</a>
            <a href="?page={{ page.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>


    <div id="camera-container" sclass="camera-container" style="display: none; position: absolute; top: 0; left: 50%; transform: translateX(-50%); background-color: aliceblue; padding: 10px; ">
        <div class="scan-msg"><h3 style="color: blue;">Place the Trolley Qr code in front of Camera </h3></div>
        <div class="row-detail">
            <h3 id="asn" ></h3>
            <h3 id="model"></h3>
        </div>
        <video id="camera-stream" autoplay playsinline style="width: 320px; height: 240px; "></video>
        <canvas id="canvas" width="320" height="240" style="display: none;"></canvas>
    
        <div id="qr-result"></div>
        <div id="qr-box" ></div> <!-- Added div for drawing the box around QR code -->
        <!-- Form to take input QR trolley number -->
        <div id="manual-input-container" style="margin-top: 10px;">
            <input type="text" id="manual-qr-input" placeholder="Enter QR code manually" style="padding: 5px;">
            <button id="btn-submit" onclick="handleSubmit(document.getElementById('manual-qr-input').value)"  style="background-color: rgb(3, 180, 3); padding: 5px; border-radius: 5px; color: whitesmoke; border: 1px whitesmoke; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='green'" onmouseout="this.style.backgroundColor='rgb(3, 180, 3)'">Submit</button>
        </div>
        <!-- Add buttons for OK and Cancel -->
        <div id="button-container" style="display: none;">
            <button id="btn-ok"  style="background-color: rgb(3, 180, 3); padding: 5px; border-radius: 5px; color: whitesmoke; border: 1px whitesmoke; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='green'" onmouseout="this.style.backgroundColor='rgb(3, 180, 3)'">OK</button>
            <button id="btn-cancel"  onclick="handleCancelButtonClick()" style="background-color: rgb(252, 10, 10); padding: 5px; border-radius: 5px; color: whitesmoke; border: 1px whitesmoke; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='lightred'" onmouseout="this.style.backgroundColor='rgb(252, 10, 10)'">Cancel</button>
        </div>
    </div>


    <div id="loader" style="display: none;">
        <div class="spinner"></div>
        <p class="loader-text">Please wait, the request is processing...</p>
    </div>
    
   
    <script src="{% static 'js/qr_scanner.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/jsQR.min.js' %}"></script>
    
    <script>
        // setInterval(function() { 
        //     $.ajax({
        //         url: '/esl_update/',  // URL to your Django view
        //         type: 'GET',
        //         dataType: 'json',
        //         success: function() {
        //             console.log("reloaded!");
        //         },
        //     });
        // }, 2000);
        function fetchData() {
            $.ajax({
                url: '/get_combined_data/',  // URL to your Django view
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    $('#data-body').empty();  // Clear existing data
                    if (data.combined_data.length > 0) {
                        $.each(data.combined_data, function(index, entry) {
                            $('#data-body').append('<tr class="table-row"><td class="table-cell">' + entry.vc_number + '</td><td class="table-cell">' + entry.asn_number + '</td><td class="table-cell">' + entry.model + '</td> <td class="table-cell trolley" id="trolley-{{ item.id }}"> '+entry.trolley_qr+'</td></tr>');
                        });
                    } else {
                        $('#data-body').append('<tr class="table-row"><td colspan="3" class="table-cell">No data found</td></tr>');
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        // Refresh data every 10 seconds
        // setInterval(fetchData, 1000);

        document.querySelectorAll('.table-row').forEach(row => {
    row.addEventListener('click', function() {
        // Extract VC number from the clicked row
        const time = row.querySelector('.time').innerText;
        const date = '';
        const vcNumber = row.querySelector('.vc-number').innerText;
        const asnNumber = row.querySelector('.asn-num').innerText;
        console.log('Clicked ScheduleTime:', date, time);

        // Create a FormData object and append the VC number
        const formData = new FormData();
        
        formData.append('date', date);
        formData.append('time', time);
        formData.append('vc_number', vcNumber);
        formData.append('asn_number', asnNumber);

        // Send a POST request to the backend
        fetch('/getPayloadData/', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Backend response:', data);
            // Proceed with further actions based on the response
        })
        .catch(error => {
            console.error('Error sending VC number:', error);
        });
    });
});

// Function to handle manual QR code input

// Function to send QR code to the backend (scanned or manual)

       
    </script>
</div>

{% endblock %}


